*
{
box-sizing: border-box;
}



/* got the code for this idea from this website https://css-tricks.com/set-text-on-a-circle/*/
 .name
{
    position: relative;
    width: 245px;
    border-radius: 50%;
    transform: rotate(-112deg);
    height: 315px;
    
}

/*assigns the font to my name and changes the transform origin to the bottom center of each of the letters so that when they rotate it looks like a circle*/
h1 span
{
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    position: absolute;
    height: 250px;
    left: 0;
    top: 0;
    transform-origin: bottom center;
}
/* each of these rotates the individual letters by a specific ammount*/ 
.l1{transform: rotate(15deg);}
.l2{transform: rotate(30deg);}
.l3{transform: rotate(45deg);}
.l4{
    
    transform: rotate(60deg);}
.l5{transform: rotate(75deg);}
.l6{transform: rotate(90deg);}
.l7{transform: rotate(105deg);}
.l8{
    
    transform: rotate(120deg);}
.l9{
    
    transform: rotate(135deg);}
.l10{
    
    transform: rotate(150deg);}
.l11{
    
    transform: rotate(165deg);}
.l12{
    
    transform: rotate(180deg);}
.l13{
    
    transform: rotate(195deg);}
.l14{
    
    transform: rotate(210deg);} 






/*makes the border round and puts it around the image*/
img
{
    border-radius:50%;
    border: 5px black solid;
    
}

/*assigns the seashell color to the background*/
body
{
    background-color: seashell;   
    
}

/*creates the big red dot in the center and gives it a black border like the photo*/
.dot
{
    
    
    height: 500px;
    width: 500px;
    background-color: red;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom:auto;
    border: 5px solid;
   
   
}

/*aligns all of the content put in the container*/
#container
{
    align-content: center;
    text-align: center;
}

/*places all of the links and placeholders into columns and assigns a sans-serif font*/
#Exerscises
{
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    display: inline-block;
    list-style-type: none;
    columns: 6;
    max-width: 1000px;
    margin:  auto;
    
}



/* assigns a font and an underline to the exersises header*/
h2
{
    font-family: 'Playfair Display SC', serif;
    font-size: 250%;
    text-decoration: underline;
    padding: 0%;
    margin: 0;
}

/*assigns a font to the list and helps position it */
#Projects
{
    font-family: sans-serif;
    
    margin-left: 0%;
    text-decoration: none;
    vertical-align: text-top;
    position: relative;
    bottom: 40px;
    padding:10px;
}

/* assigns a font and an underline to the projects header*/
h3
{
    font-family: 'Playfair Display SC', serif;
    font-size: 250%;  
    text-decoration: underline;        
}

/*places the photo in the middle*/
#photo{
    width:100%;
    margin:auto;
    position: relative;
    bottom: 250px;
}

/*places a padding on the bottom of the exersises header*/
h2
{
    
    padding-bottom: 5%;
}

/*takes away the dots on the list*/
li
{
    margin-bottom: 20px;
    list-style-type: none;
    
}
/*takes away the underline form all of the links*/
a
{
    text-decoration: none;
    
}

/*takes away the margins from the unorderd lists*/
ul
{
margin: 0px;
}

/*places an underlne whenever the mouse is above a link*/
a:hover 
{
     border-bottom: 1px solid;
}

#Final{
    padding: 20px;
    background-color: red;
    border-radius: 10cm;
    border: 5px solid;
    border-color: black;
}