main
{
  
   display:flex;
   justify-content: center;
   align-items: center;
   height: 90vh;
   
}

main img
{
    margin: 0 50px;  
    border: 1px solid black;
    border-radius: 10px;
}

main img:hover 
{
    transform: scale(1.05);
}

#aside
{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    
    align-content: flex-start;
    border-bottom: 2px solid black;
}

#aside p:hover
{
    text-decoration: underline; 
   ; 
}

#aside p
{
    margin: 30px 20px
}



#aside p:after
{

}

@keyframes drop {
    from{transform: translateX(0px);}
    to{transform: translateX(250px);}
}

@keyframes spin 
{
        0%{transform: rotateY(0deg);}
        100%{transform: rotateY(360deg);}
}

#current
{
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}

#aboutParagraph
{
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
}

/*this is all for the form on the contact me page*/
form{
    float: right;
    margin: 0 auto;
    width: 600px;
    padding: 1em;
    /*border: 1px solid black;*/
    
}

form div + div{
    margin-top: 3em;
}

label{
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea{
    font: 2em sans-serif;
    width: 900px;
    box-sizing: border-box;
    border: 5px solid black;
    height:2.5em;
}

input:focus, textarea:focus{
    border-color:grey;
}

textarea{
    vertical-align: top;
    height: 8em;
    font: 1em sans-serif;
}

.button{
    padding-left: 90px;
}

button{
    margin-left: .5em;
}





/*this code is for the rotaton of my name on the home page*/

/* got the code for this idea from this website https://css-tricks.com/set-text-on-a-circle/*/
.name
{
    position: relative;
    width: 245px;
    border-radius: 50%;
    transform: rotate(-112deg);
    height: 315px;
    
}

/*assigns the font to my name and changes the transform origin to the bottom center of each of the letters so that when they rotate it looks like a circle*/
h1 span
{
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    position: absolute;
    height: 250px;
    left: 0;
    top: 0;
    transform-origin: bottom center;
}
/* each of these rotates the individual letters by a specific ammount*/ 
.l1{ animation: spin .5s linear both;}
.l1{transform: rotate(15deg);}
.l2{transform: rotate(30deg);}
.l3{transform: rotate(45deg);}
.l4{
    
    transform: rotate(60deg);}
.l5{transform: rotate(75deg);}
.l6{transform: rotate(90deg);}
.l7{transform: rotate(105deg);}
.l8{
    
    transform: rotate(120deg);}
.l9{
    
    transform: rotate(135deg);}
.l10{
    
    transform: rotate(150deg);}
.l11{
    
    transform: rotate(165deg);}
.l12{
    
    transform: rotate(180deg);}
.l13{
    
    transform: rotate(195deg);}
.l14{
    
    transform: rotate(210deg);} 







