main
{
  
   display:flex;
   justify-content: center;
   align-items: center;
   height: 90vh;
   
}

main img
{
    margin: 0 50px;  
    border: 1px solid black;
    border-radius: 10px;
}

main img:hover 
{
    transform: scale(1.05);
}

#aside
{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    
    align-content: flex-start;
    border-bottom: 2px solid black;
}

#aside p:hover
{
    text-decoration: underline; 
   ; 
}

#aside p
{
    margin: 30px 20px
}

#aside p:after
{

}

@keyframes drop {
    from{transform: translateX(0px);}
    to{transform: translateX(250px);}
}

