/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/
html{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
}
#wrapper{
    display: grid;
  
    height: 100%;
    width: 90%;
    /* max-width: 1200px; */
    grid-template-rows: 4rem 1fr 3rem; 
    grid-template-columns: 1fr 2fr 200px;
    grid-template-areas: "head head head"
                         "aside art nav"
                         "foot foot foot";  

}
header{
    grid-area: head;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    grid-area: nav;
}

article{
    grid-area: art;
    
}

aside{
    grid-area: aside;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: foot;
}

.menuitem{
    background-color: white;
    margin: 0;
    border-top: 1px solid #b5e7a0
 
}

.submenu{
    background-color: lightgrey;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

.submenu li{
    padding-left: .25rem;
    background-color: lightgrey;
}


@media only screen and (max-width: 600px) {
    #wrapper{
        display: grid;
      
       
        width: 100%;
        /* max-width: 1200px; */
       
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr 2fr 200px 3rem;
        grid-template-areas: "head"
                             "nav"
                             "art"
                             "aside"
                             "foot";  
    
    }
  
    article{
       
    }
}